footer {
  position: relative;
  width: 100%;
  background: #247475;
  min-height: 100px; /* Altezza minima */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; /* Permette agli elementi di andare su più righe */
  padding: 10px; /* Aggiungi padding per evitare il taglio del contenuto */
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap; /* Permette agli elementi di andare su più righe */
}

footer .social_icon li,
footer .menu li {
  list-style: none;
  margin: 5px; /* Margine tra gli elementi per evitare sovrapposizioni */
}

footer .social_icon li a {
  font-size: 1.5em; /* Ridotto per schermi piccoli */
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{

    transform: translateY(-10px)

}

footer .menu li a {
  font-size: 1em; /* Ridotto per schermi piccoli */
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{

    opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.9em; /* Ridotto per schermi piccoli */
}

/* Media query per ridurre il font del footer su schermi piccoli */
@media (max-width: 600px) {
  footer .social_icon li a {
    font-size: 1.2em; /* Ridotto ulteriormente per schermi molto piccoli */
  }

  footer .menu li a {
    font-size: 0.9em; /* Ridotto ulteriormente per schermi molto piccoli */
  }

  footer p {
    font-size: 0.8em; /* Ridotto ulteriormente per schermi molto piccoli */
  }
}
